html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
}

ul {
    list-style: none;
}

.header {
    height: 95vh;
    background: linear-gradient(45deg, rgba(41, 182, 74, 0.75), rgba(39, 206, 49, 0.7)),
    url(../img/bg.png);
    background-size: cover;
    background-position: bottom;
}
